In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv( 'adult.csv' )
data.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data["occupation"].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [5]:
def drop_question_marks(row):
    if '?' in row['occupation']:
        row['occupation'] = 'Unknown'
    return row

In [6]:
data = data.apply(drop_question_marks, axis=1)

In [7]:
data['occupation'].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Unknown              2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [8]:
data['income'].value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [9]:
def count_income(row):
    if '>50K' in row['income']:
        return 1
    else:
        return 0

data['income'] = data.apply(count_income, axis=1)
data['income'].value_counts()

0    37155
1    11687
Name: income, dtype: int64

In [11]:
def count_gender(row):
    if 'Male' in row['gender']:
        return 1
    else:
        return 0

data['gender'] = data.apply(count_gender, axis=1)
data['gender'].value_counts()

1    32650
0    16192
Name: gender, dtype: int64

In [12]:
data = data.drop("education", axis=1)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
selectedColumns = data[ [ 'age', 'gender', 'occupation', 'educational-num', 'income' ] ]

X = pd.get_dummies( selectedColumns, columns = [ 'occupation' ] )

# столбец income является целевой переменной, удаляем его из X
del X['income']
X.head()

,age,gender,educational-num,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,occupation_Unknown
0,25,1,7,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,38,1,9,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,28,1,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,44,1,10,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,18,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [15]:
corr_matrix = data.corr()
corr_matrix

,age,fnlwgt,educational-num,gender,capital-gain,capital-loss,hours-per-week,income
age,1.000000,-0.076628,0.030940,0.088120,0.077229,0.056944,0.071558,0.230369
fnlwgt,-0.076628,1.000000,-0.038761,0.027739,-0.003706,-0.004366,-0.013519,-0.006339
educational-num,0.030940,-0.038761,1.000000,0.009328,0.125146,0.080972,0.143689,0.332613
gender,0.088120,0.027739,0.009328,1.000000,0.047094,0.045480,0.228560,0.214628
capital-gain,0.077229,-0.003706,0.125146,0.047094,1.000000,-0.031441,0.082157,0.223013
capital-loss,0.056944,-0.004366,0.080972,0.045480,-0.031441,1.000000,0.054467,0.147554
hours-per-week,0.071558,-0.013519,0.143689,0.228560,0.082157,0.054467,1.000000,0.227687
income,0.230369,-0.006339,0.332613,0.214628,0.223013,0.147554,0.227687,1.000000

In [16]:
# целевая переменная (столбец income) является категориальной
# переведем значения столбца в числа, оставив один столбец

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [17]:
le.fit( data['income'] )

LabelEncoder()

In [18]:
le.classes_

array([0, 1])

In [19]:
# записываем в переменную y преобразованный столбец income

y = pd.Series( data = le.transform( data['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [22]:
model = LogisticRegression()

In [23]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
model.score(X_train, y_train)

0.8032636596993032

In [25]:
# обучаем модель
predictions = model.predict_proba( X )

In [26]:
predictions[:10]

array([[0.94465014, 0.05534986],
       [0.90880811, 0.09119189],
       [0.66820004, 0.33179996],
       [0.77295457, 0.22704543],
       [0.98661445, 0.01338555],
       [0.97401978, 0.02598022],
       [0.9446896 , 0.0553104 ],
       [0.14803433, 0.85196567],
       [0.98558817, 0.01441183],
       [0.88609844, 0.11390156]])